.container {
    width: 100%;
    height: 700px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
  }
  .flechitas,
  .flechitas2 {
    color: #FFFFFF;
    justify-content: start;
    width: 20px;
    display: flex;
    transition: transform 0.5s ease;
    cursor: pointer;
  }
  
  .flechitas:hover,
  .flechitas2:hover {
    transform: scale(2.5);
  }
  .Texto{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    max-width: 40%;
    padding-top: 19%;
    letter-spacing: 3px;
  }
  
  .image {
    width: 90%;
    justify-content:flex-end;
    display: flex;
    height: 800px;
    background-image:url('../images/1.jpg');
    background-size: cover;
   }
  